// box-sizing make input inside box
*{box-sizing: border-box;}
.container{
    position:relative;
    border-radius:5px;
    padding:20px 0 30px 0;
    background:#f2f2f2;
    height: 300px;
}
// set style input and button
input, .btn{
    width:100%;
    padding:12px;
    border:none;
    border-radius:5px;
    margin: 5px 0;
    opacity: .85;
    display: inline-block;
    font-size:17px;
    line-height: 20px;
    text-decoration: none;
    &:hover{
        opacity: 1;
    }
}
// facebook
.fb{
    background:#3b5998;
    color:white;
}
// Twitter
.twitter{
    background:#55acee;
    color:white;
}
// Google
.google {
    background-color: #dd4b39;
    color: white;
}
// set style submit
input[type=submit]{
    background:#4caf50;
    cursor:pointer;
    color:white;
    &:hover{
        background:#4caf49;
    }
}
.col{
    float:left;
    width:50%;
    margin: auto;
    padding:0 50px;
    margin-top: 6px;
}
// clear float after column
.row:after{
    content:'';
    display:table;
    clear:both;
}
// set vertical align
.vl{
    position:absolute;
    left:50%;
    border:2px solid #ddd;
    height:175px;
    transform: translate(-50%);
}
// text inside vertical align
.inner{
    position:absolute;
    top:50%;
    transform: translate(-50%,-50%);
    background:#f1f1f1;
    border:1px solid #ddd;
    border-radius:50%;
    padding:8px 10px;
}
// hide some text for medium or large screen
.hide-md-lg{
    display:none;
}
// button container
.bottom-container{
    text-align:center;
    background:#666;
    border-radius: 0 0 4px 4px;
}

/* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 650px) {
    .col {
      width: 100%;
      margin-top: 0;
    }
    /* hide the vertical line */
    .vl {
      display: none;
    }
    /* show the hidden text on small screens */
    .hide-md-lg {
      display: block;
      text-align: center;
    }
  }