// box size
*{
    box-sizing: border-box;
}
// style tabs vertical
.tab-vertical{
    float:left;
    border:1px solid #ccc;
    background-color:#f1f1f1;
    width:30%;
    height:300px;
}
// button vertical
.tab-vertical button{
    display:block;
    background-color:inherit;
    color:black;
    padding:22px 16px;
    width:100%;
    border:none;
    outline:none;
    text-align: left;
    cursor: pointer;
    transition: .2s;
    &:hover{
        background-color:#ddd;
    }
}
.tab-vertical button.active{
    background-color: #ccc;
}
// tab content
.tab-content-vertical{
    float:left;
    padding:0 12px;
    border:1px solid #ccc;
    width:70%;
    border-left: none;
    height:300px;
    position:relative;
}
.tab-content-vertical .topright-vertical{
    position:absolute;
    top:13px;
    right:15px;
    cursor:pointer;
    font-size:1.5em;
    &:hover{
        color:red;
    }
}