/*
* Layout - Líquido ou Fluído
* O layout líquido utiliza porcentagem para definir o tamanho de seus elementos.
* Use min-width - para determinar a largura mínima que o layout líquido deve ficar para
* evitar que os elementos se desloquem.
*/
/* Geral */
body{
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	background-color:#fafafa;
}
/* Layout */
#container{
	width:85%;
	min-width:720px; /*define largura mínima do elemento*/
	max-width:1280px;
	margin:0 auto;
	background-color:#fff;
}
#marca{
	width:100%;
	height:100px;
	background-color:#9e9e9e;
	text-align:center;
	line-height:100px;
}
#conteudo{
	float:right;
	width:75%;
}
#conteudo-principal{
	width:63%;
	float:left;
}
#conteudo-secundario{
	width:34%;
	float:right;
	background-color:#d1d1d1;
}
#conteudo-secundario h1,
#conteudo-secundario h2,
#conteudo-secundario h3,
#conteudo-secundario p{
	padding:0 20px;
}
#navegacao{
	width:23%;
	float:left;
	padding: 20px 0;
	background-color:#d1d1d1;
}
#navegacao ul{
	list-style:none;
}
#navegacao li a{
	text-decoration:none;
}
#rodape{
	clear:both;
	padding:5px;
	background-color:#c4c4c4;
}
/* Classes */
/* Básicos */